body {
  min-height: 2000px;
  padding-top: 88px;
  font-family: "Roboto",sans-serif;
}

.header-nav.navbar {
  background-color: #00406d;
  border-top: 7px solid #006fbd;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.header-nav.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  transition: .3s all;
}

.header-nav.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #fff;
}

.header-nav.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #4cbbff;
}

.header-nav .navbar-brand
{
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin:0 auto;
}

.header-nav .navbar-brand img {
  display: unset;
  margin-top: -12px;
  width: 140px;
}
.navbar-toggle {
  z-index:3;
}

#toolbar { 
	background-color: #222; 
	border-top:1px solid #000; 
}

#toolbar.navbar-default .navbar-nav > li {
	position: relative;
}

#toolbar.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 300;
  transition: .2s all;
  text-transform: uppercase;
  border:1px solid #222;
}

.noti {
  background-color: #eee;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  height: 15px;
  line-height: 1;
  padding: 2px 4px;
  position: absolute;
  width: 15px;
  top:9px;
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  right:2px;
}

.noti.red {
  background-color: #d0493b;
}

#toolbar.navbar-default .navbar-nav > .open > a, #toolbar.navbar-default .navbar-nav > .open > a:focus, #toolbar.navbar-default .navbar-nav > .open > a:hover {
  background-color: #000;
  color: #fff;
}

.active.red {
  background: rgb(208, 73, 59) none repeat scroll 0 0;
}

.section {
	padding:25px 0;
}

#top {
  background-color: #2f3143;
  color: white;
  padding: 50px 0;
  text-align: center;
}

#cloud-image {
	background-attachment: fixed;
	background-size: cover;
	background-image: url('../images/clouds_temp.jpg');
}

#top h1 {
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 8px;
  text-transform: uppercase;
}

#menu-hero li {
  display: inline-block;
  font-size: 21px;
  list-style: outside none none;
  margin-right: 15px;
  text-transform: uppercase;
}

#menu-hero a {
  letter-spacing: -0.5px;
  transition: .1s all;
}
#menu-hero a:hover {
  color: #26bcff;
  text-decoration: none;
}

.jumbotron.cardbox {
  background: #fff none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.types {
	padding-top:25px;
}

.typelist { 
	margin: 0;
	padding: 0; 
	list-style: none;
}

.typelist .type {
  float: left;
  margin-bottom: 15px;
  margin-right: 1.5%;
  width: 15%;
}

@media(min-width: 1400px) {
	.container {
    width: 1280px; 
  }
}

@media (max-width: 991px) {
	.container {
	    width: 990px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.nav.navbar-nav.navbar-right.inline > li {
	  display: block !important;
	  float: unset;
	  text-align: right;
	}

	.nav.navbar-nav.navbar-right.inline {
	  margin-top: 15px !important;
	}
}

@media(min-width: 768px) {
	.header-nav .nav.navbar-nav.navbar-right.inline span, .header-nav .nav.navbar-nav.navbar-right.inline a {
    display: inline;
    color: #fff;
	}

	.header-nav .nav.navbar-nav.navbar-right.inline span {
    margin-left: 5px; 
	}

	.header-nav .nav.navbar-nav.navbar-right.inline a {
		color: #0096ff;
		margin-left: -5px;
	}

	.header-nav .nav.navbar-nav.navbar-right.inline a:hover {
		color: #4cbbff;
	}

	.nav.navbar-nav.navbar-right.inline {
	  margin-top: 25px;
	}
}